body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

.top-container{
    background-color: #BFDB38;
}

.middle-container{
    height: 200px;
    width: 200px;
    background-color: #A084DC;

}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: #FC7300;
}